<div class='mb-4'>
	<div class='text-2xl dark:text-slate-200'>
		<a href="{{path('app_micro_post_show', {post:post.id})}}">{{post.title}}</a>
	</div>
	<div class='text-xl text-slate-600 dark:text-slate-300'>
		{{post.text}}
	</div>
	<div class='text-gray-500 dark:text-slate-400'>
		{{post.createdAt|date('M j, Y')}}
	</div>

	<div class='text-sm text-slate-600 dark:text-slate-300'>
		<a href="#">user@email.com</a>
	</div>
	<div>
		<a href="#">Like
			<span class='px-2 rounded bg-slate-200 dark:bg-slate-400'>0</span>
		</a>
	</div>
	<div class='text-sm text-slate-600 dark:text-slate-300 flex'>
		<a class='mr-2' href="{{path('app_micro_post_edit', {post:post.id})}}">Edit</a>
		<a href="{{path('app_micro_post_comment', {post:post.id})}}">Comment</a>
	</div>
</div>
