{% extends 'base.html.twig' %}

{% block title %}Create new post
{% endblock %}

{% block body %}
	{# {{form(form)}}  #}
	{{form_start(form)}}
	<div class='container'>
		<div>
			{{form_errors(form)}}
		</div>

		<div>
			{{form_label(form.title, 'Enter post title')}}
		</div>
		<div>
			{{form_widget(form.title, {'attr' : {'style': 'color: gray'}})}}
		</div>

		<div>
			{{form_label(form.text,'Provide short description.')}}
		</div>
		<div>
			{{form_widget(form.text)}}
		</div>
	</div>


	{{form_end(form)}}
{% endblock %}
